# Basic style
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ColumnLimit: 100

AlignOperands: true
AllowShortBlocksOnASingleLine: true
# AllowShortBlocksOnASingleLine: Empty
# ShortBlockStyle: Empty
BreakBeforeBraces: Custom
BraceWrapping:
	AfterFunction: true

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 100000

AllowShortLoopsOnASingleLine: false
BinPackParameters: false

# Comments
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
